<span class="span2 contributor">
<a title="<%=project_person[0].person.name%>" href="<%=project_person[0].person.uri%>"><img src="<%=project_person[0].person.avatar%>">
<span class="label label-info"><%=project_person.size%></span>
<span class="name"><%= project_person[0].person.name%></span>
</a>
</span>
