<span class="span2 contributor">
<a title="<%=project_person[0].person.name%>" href="javascript:void(0);" onclick='window.open("/person/<%=project_person[0].person.id%>", "title", "height=500,width=390,modal=yes,alwaysRaised=yes");'><img src="<%=project_person[0].person.bigger_avatar%>">
<span class="label label-info"><%=project_person.size%></span>
<span class="name"><%= project_person[0].person.name%></span>
</a>
</span>
