<div class="span3 main-feature"><a href="/proj/<%=featured_project.id%>" title="<%=featured_project.title%>"><%=raw featured_project.image%><span class="main-feature-title"><%=featured_project.title%><% if !featured_project.subtitle.nil? and featured_project.subtitle.size > 0 %>: <%=featured_project.subtitle%><% end %></span></a></div>

