<% @title=@project.title %>  
<div class="container marketing">
      <!-- START THE FEATURETTES -->
      <div class="featurette">
        <h2 class="featurette-heading"><%=@project.title%> <span class="muted"><%=@project.subtitle%></span></h2>
        <h4><%=@project.date.to_date.to_formatted_s(:rfc822)%><% if @project.end_date%>- <%=@project.end_date.to_date.to_formatted_s(:rfc822)%><%end%></h4>
      <div id="3" class="acknowledge-block">
        <span class="contributor">
        <nobr>
        <a href="https://twitter.com/natematias">
        <img src="https://twimg0-a.akamaihd.net/profile_images/427245927/SafariScreenSnapz008_bigger.png">
        J. Nathan Matias</a>, coordinator
        </nobr>
        </span>
        <span class="contributor">
        <nobr>
        <a href="https://twitter.com/hoosfoos">
        <img src="https://twimg0-a.akamaihd.net/profile_images/71877246/dem_reasonably_small.jpg">
        David Millard</a>, organiser
        </nobr>
        </span>
        <span class="contributor">
        <nobr>
        <a href="https://twitter.com/ClareJHooper">
        <img src="https://twimg0-a.akamaihd.net/profile_images/2251193892/ClareSquare_reasonably_small.jpg">Clare Hooper</a>, organiser
        </nobr>
        </span>
        <span class="contributor">
        <nobr>
        <a href="http://www.cs.man.ac.uk/~lunnd/">
        <img src="https://s3.amazonaws.com/academia.edu.photos/169066/42641/39198/s65_darren.lunn.jpg?1324010024">
        Darren Lunn</a>, organiser
        </nobr>
        </span>
        <span class="contributor">
        <nobr>
        <a href="https://twitter.com/Kailous">
        <img src="https://twimg0-a.akamaihd.net/profile_images/1145303911/eye_reasonably_small.jpg">
        Charlie Hargood</a>, organiser
        </nobr>
        </span>
        <span class="contributor">
        <nobr>
        <a href="https://twitter.com/jrubart">
        <img src="https://twimg0-a.akamaihd.net/profile_images/298094936/twitter_reasonably_small.jpg">
        Jessica Rubart</a>, organiser
        </nobr>
        </span>
        <span class="contributor">
        <nobr>
        <a href="https://twitter.com/spacemonkeysoup">
        <img src="https://twimg0-a.akamaihd.net/profile_images/486612834/pointlinebox_reasonably_small.gif">Nathan Eng</a>, organiser
        </nobr>
        </span>
      </div>
        <div class="featurette-image pull-right"><%=raw @project.image%></div>
        <p class="lead"><%=raw @project.description%></p>
      </div>
