<% if !@project.subtitle.nil?%>
<% @title=@project.title+" "+@project.subtitle %>  
<% else %>
<% @title=@project.title%>  
<% end%>
<div class="container marketing">
      <!-- START THE FEATURETTES -->
     <div class="featurette">
        <h2 class="featurette-heading"><%=@project.title%> <%if !@project.subtitle.nil? %><span class="muted"><%=@project.subtitle%></span><%end%></h2>
      <div id="3" class="acknowledge-block">
        <h4 style="display:inline-block"><%if @project.manual_date %><%=@project.manual_date%> <%else%> <%=@project.date.to_date.to_formatted_s(:rfc822)%><% if @project.end_date%> - <%=@project.end_date.to_date.to_formatted_s(:rfc822)%><%end%><%end%></h4>
        <%= render :partial => "project_person", :collection => @project.project_people %>
        <%= render :partial => "project_host", :collection => @project.project_hosts %>
      </div>
        <div class="featurette-image pull-right"><%=raw @project.image%></div>
        <p class="lead"><%=raw @project.description%></p>
     </div>
